body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(16,78,36);
  padding: 20px;
  margin-top: 5px;

}

code {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(16,78,36);
  padding: 20px;
  margin-top: 5px;
}

#root > main {
  flex-grow: 1;
}